#!/bin/env bash

zenity --info --text  '<span foreground="red" font="18"><b><i>Matlab</i></b> is starting up.\nPlease allow a minute to load.\nThank you for your patience</span>' --width=500 --height=200 &

# ifort stuff ( module load ifort )
export MODULEPATH=/n/sw/eb/modulefiles/centos7/Compiler/intel/2017.4.196:$MODULEPATH
export CPATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/include:$CPATH
export LD_LIBRARY_PATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/compilers_and_libraries_2017.4.196/linux/compiler/lib/intel64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/debugger_2017/libipt/intel64/lib:$LD_LIBRARY_PATH
export LIBRARY_PATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/compilers_and_libraries_2017.4.196/linux/compiler/lib/intel64:$LIBRARY_PATH
export MANPATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/compilers_and_libraries_2017.4.196/linux/man/common:$MANPATH
export PATH=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/compilers_and_libraries_2017.4.196/linux/bin/intel64:$PATH
export EBROOTIFORT=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196
export EBVERSIONIFORT=2017.4.196
export EBDEVELIFORT=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/easybuild/Core-ifort-2017.4.196-easybuild-devel
export INTEL_LICENSE_FILE=/n/sw/intel-cluster-studio-2017/license.lic:$INTEL_LICENSE_FILE
export INTEL_PYTHONHOME=/n/sw/eb/apps/centos7/Core/ifort/2017.4.196/debugger_2017/python/intel64

export MATLAB_HOME=/opt/MATLAB-R2020a
export PATH=${MATLAB_HOME}/bin:${PATH}
export MLM_LICENSE_FILE=27000@rclic1

# abaqus stuff
export MTLB_WORKDIR=/scratch/$USER/$SLURM_JOBID
mkdir -p $MTLB_WORKDIR

export MATLAB_PREFDIR=/dev/shm/$USER/$SLURM_JOBID ;
mkdir -p $MATLAB_PREFDIR

# Set working directory to home directory
cd $HOME

cat > java.opts <<EOF
-Dsun.java2d.xrender=false
EOF

matlab  -desktop -softwareopengl &

